{% load static%}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->


<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <meta name="author" content="xalien"/>
    <meta name="keywords" content="django, css3, template, html5 template"/>
    <meta name="description" content="Personal Vcard & Resume HTML Template"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <!-- Font Awesome -->
    <link type="text/css" media="all" href="{% static '/assets/fonts/font-awesome/css/font-awesome.min.css' %}"
          rel="stylesheet"/>
    <!-- Libs CSS -->
    <link type="text/css" media="all" href="{% static '/assets/boostrap-files/css/bootstrap.min.css' %}"
          rel="stylesheet"/>
    <!-- Animate CSS -->
    <link type="text/css" media="all" href="{% static '/assets/css/animate.css' %}" rel="stylesheet"/>
    <!-- Template CSS -->
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/component.css' %}"/>
    <link type="text/css" media="all" href="{% static '/assets/css/contact.form.css' %}" rel="stylesheet"/>
    <link type="text/css" media="all" href="{% static '/assets/css/style.css' %}" rel="stylesheet"/>
    <!-- Switcher CSS -->
    <link type="text/css" media="all" href="{% static '/assets/css/switcher.css' %}" rel="stylesheet"/>
    <link href="{% static '/assets/css/colour-scheme/color-blue.css' %}" rel="stylesheet" type="text/css"
          data-color="color-blue" media="all" id="stylesheet-new">
    <!-- Responsive CSS -->
    <link type="text/css" media="all" href="{% static '/assets/css/respons.css' %}" rel="stylesheet"/>
    <!-- Style Switcher -->
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="144x144"
          href="{% static '/assets/img/favicons/apple-touch-icon-144x144.png' %}"/>
    <link rel="apple-touch-icon" sizes="114x114"
          href="{% static '/assets/img/favicons/apple-touch-icon-114x114.png' %}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{% static '/assets/img/favicons/apple-touch-icon-72x72.png' %}"/>
    <link rel="apple-touch-icon" href="{% static '/assets/img/favicons/apple-touch-icon.png' %}"/>
    <link rel="shortcut icon" href="{% static '/assets/img/favicons/favicon.png' %}"/>
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic'
          rel='stylesheet' type='text/css'>

</head>
<body>

<!-- Load page -->
<div class="animationload">
    <div class="loader"></div>
</div>
<!-- End load page -->

<div id="wraper">
{%for userinfo in userinfo%}
    <!-- Start Home-header section -->
    <section class="home-header border-bottom padding-block">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-5 col-lg-5 text-center border-right">
                    <!-- Your foto -->
                    <div class="foto">
                       <!-- <img src="" alt="myphoto"> -->
                         <img src="{{ userinfo.photo.url }}" alt="myphoto">
                    </div>
                    <!-- end your foto -->
                </div>
                <div class="col-xs-12 col-sm-7 col-lg-7 text-center">
                    <!-- Your Name -->
                    <h1 class="title">{{ userinfo.name }}</h1>
                    <!-- Your Profession -->
                    <h3 class="sub-title">Web Designer & Mobile Application Developer</h3>
                    <!-- social icon -->
                    <div class="social">
                        <ul class="animated" data-animation="fadeIn" data-animation-delay="600">
                            <!-- social icons -->
                            <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-linkedin"></i></a></li>
                            <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-dribbble"></i></a></li>
                            <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-youtube"></i></a></li>
                            <!--
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-behance"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-pinterest"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-digg"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-deviantart"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-envelope-square"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-delicious"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-dropbox"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-skype"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-tumblr"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-vimeo-square"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-flickr"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-github-alt"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-renren"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-vk"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-xing"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-weibo"></i></a></li>
                                <li><a class="ukie-icons hover-animate" href="#"><i class="fa fa-rss"></i></a></li>
                            -->
                        </ul>
                    </div>
                    <!-- end social icon -->
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- End Home-header section -->

    <!-- Start Menu section -->
    <nav class="menu-style1">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12">

                    <!-- start menu block (profile) -->
                    <a href="{% url 'personalprofile:profile' %}" class="menu-li">
                        <!-- img menu block -->
                            <span class="foto">
                                <img src="{% static '/assets/img/menu/style1/profile.png' %}" class="menu-img"
                                     data-img-name="profile" alt="myprofile">
                            </span>
                        <!-- name menu block -->
                        <span class="name">Profile</span>
                    </a>
                    <!-- end menu block (profile) -->

                    <!-- start menu block (resume) -->
                    <a href="{% url 'resume:resume' %}" class="menu-li">
                        <!-- img menu block -->
                            <span class="foto">
                                <img src="{% static '/assets/img/menu/style1/resume.png' %}" class="menu-img"
                                     data-img-name="resume" alt="Ukieweb">
                            </span>
                        <!-- name menu block -->
                        <span class="name">Resume</span>
                    </a>
                    <!-- end menu block (resume) -->

                    <!-- start menu block (portfolio) -->
                    <a href="{% url 'portfolio:portfolio' %}" class="menu-li">
                        <!-- img menu block -->
                            <span class="foto">
                                <img src="{% static '/assets/img/menu/style1/portfolio.png' %}" class="menu-img"
                                     data-img-name="portfolio" alt="myportfolio">
                            </span>
                        <!-- name menu block -->
                        <span class="name">Portfolio</span>
                    </a>
                    <!-- end menu block (portfolio) -->

                    <!-- start menu block (blog) -->
                    <a href="{% url 'blog:blog' %}" class="menu-li">
                        <!-- img menu block -->
                            <span class="foto">
                                <img src="{% static '/assets/img/menu/style1/blog.png' %}" class="menu-img"
                                     data-img-name="blog" alt="myblog">
                            </span>
                        <!-- name menu block -->
                        <span class="name">Blog</span>
                    </a>
                    <!-- end menu block (portfolio) -->

                    <!-- start menu block (contact) -->
                    <a href="{% url 'contact:contact' %}" class="menu-li">
                        <!-- img menu block -->
                            <span class="foto">
                                <img src="{% static '/assets/img/menu/style1/contact.png' %}" class="menu-img"
                                     data-img-name="contact" alt="contactme">
                            </span>
                        <!-- name menu block -->
                        <span class="name">Contact</span>
                    </a>
                    <!-- end menu block (contact) -->
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </nav>
    <!-- End Menu section -->

    <!-- Start Footer section -->
    <footer class="footer">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <!-- start phone number -->
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <a href="#" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-phone"></i></span>{{ userinfo.phone }}
                    </a>
                </div>
                <!-- end phone number -->
                <!-- start email -->
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <a href="#" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-paper-plane"></i></span>
                        {{ userinfo.email }}
                    </a>
                </div>
                <!-- end email -->
                <!-- start address -->
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <a href="#" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-map-marker"></i></span>
                        {{ userinfo.address }}
                    </a>
                </div>
                <!-- end address -->
                <!-- start Copyright -->
                <div class="col-xs-12 col-sm-6 col-lg-3 text-right">
                    <span class="copyright">Copyright © 2016 All right reserved</span>
                </div>
                <!-- end Copyright -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </footer>
    <!-- End Footer section -->

</div>

<!-- Scroll to Top -->
<a href="#" class="btn hover-animate scrollToTop"><i class="fa fa-angle-up"></i></a>
<!-- End Scroll to Top -->

<!-- Style Switcher -->
<!-- delete this from site once you have decided on a colour scheme - follow documentation for insructions -->
<div class="style-switcher style-off">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 text-center">

            <div class="switch-colours clearfix">
                <div class="set clearfix">

                    <h3 class="lighter">Select A Color</h3>

                    <a href="index.html" class="new-colour color-blue" id="color-blue" data-color="#00b6f9"></a>
                    <a href="index.html" class="new-colour color-orange" id="color-orange" data-color="#ffc400"></a>
                    <a href="index.html" class="new-colour color-purple" id="color-purple" data-color="#7c4dff"></a>
                    <a href="index.html" class="new-colour color-green" id="color-green" data-color="#9ccc65"></a>
                    <a href="index.html" class="new-colour color-red" id="color-red" data-color="#ff7043"></a>
                    <a href="index.html" class="new-colour color-brown" id="color-brown" data-color="#ae8c64"></a>

                    <h3 class="lighter">Select A Background</h3>
                    <a href="index.html" class="new-bg bg-white" data-bg="#ffffff"></a>
                    <a href="index.html" class="new-bg bg-grey" data-bg="#f5f5f5"></a>
                    <a href="index.html" class="new-bg bg-light-blue" data-bg="#cfd8dc"></a>
                    <a href="index.html" class="new-bg bg-dark-blue" data-bg="#263238"></a>
                    <a href="index.html" class="new-bg bg-dark-purple" data-bg="#1e1f38"></a>
                    <a href="index.html" class="new-bg bg-brown" data-bg="#383231"></a>

                    <h3 class="lighter">Select A Shadow</h3>

                    <div class="switch">
                        <input type="checkbox" name="box_shadow" id="box_shadow">
                        <label><i></i></label>
                    </div>

                </div>
                <!-- end set -->
            </div>

            <div class="style-open">
                <i class="fa fa-tint"></i>
            </div>
            <!-- end style-open -->

        </div>
    </div>
    <!-- end row -->


</div>
<!-- end Style Switcher -->

<!-- Style Contact Form -->
<!-- delete this from site once you have decided on a colour scheme - follow documentation for insructions -->
<!-- Button Style open -->
<div class="style-open-form animated hi-icon-effect-8">
    <i class="hi-icon fa fa-envelope-o ukie-icons hover-animate hi-icon-mobile"></i>
</div>
<!-- End Button Style open -->
<div class="style-contact-form style-off-form">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 ">
            <!-- Start Contact Form -->
            <div class="contact-form">
                <div class="btn-close-form">
                </div>
                <h3 class="title title-contact">Contact Me</h3>
                <p>Use this form to tell me about your project goals and needs. I will be in touch within 24 hours.</p>
                <form action="https://ukieweb.com/envato/ukiecard/style2/assets/php/contact.php" id="contact-form-panel"
                      method="post">
                    <input type="text" id="user-name-panel" name="user-name" value="" placeholder="Name"/>
                    <input type="email" id="user-email-panel" name="user-email" value="" placeholder="Email"/>
                    <input type="hidden" id="user-status-panel" name="user-status" value="1"/>
                    <textarea id="user-message-panel" name="user-message" placeholder="Message"></textarea>
                    <div class="footer-form">
                        <input type="submit" id="submit-btn-panel" class="btn btn-color hover-animate"
                               value="Send Message"/>
                        <div class="info-message-form">
                            <p>Please fill out all the fields!</p>
                            <span class="close-msg"><i class="fa fa-close"></i></span>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End Contact Form -->
            <!-- End style-open -->
        </div>
    </div>
    <!-- End row -->
</div>
<!-- End Style Contact Form -->

<!-- Scripts -->
<script src="{% static '/assets/js/jquery-1.11.2.min.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/boostrap-files/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/jquery.appear.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/jquery.mixitup.min.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/owl.carousel.min.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/jquery.flexslider-min.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/jquery.inview.min.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/jquery.knob.min.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/jquery.cookie.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/jquery.ratyli.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/modernizr.custom.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/contact_scripts.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/scripts.js' %}" type="text/javascript"></script>
{% endfor %}
</body>
</html>