{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title>Profile</title>
    <meta name="author" content="xalien" />
    <meta name="keywords" content="django, css3, template, html5 template" />
    <meta name="description" content="Personal Vcard & Resume HTML Template" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Font Awesome -->
    <link type="text/css" media="all" href="{% static '/assets/fonts/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
    <!-- Libs CSS -->
    <link type="text/css" media="all" href="{% static '/assets/boostrap-files/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!-- Animate CSS -->
    <link type="text/css" media="all" href="{% static '/assets/css/animate.css' %}" rel="stylesheet" />
    <!-- Template CSS -->
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/calendar.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/component.css' %}" />
    <link type="text/css" media="all" href="{% static '/assets/css/contact.form.css' %}" rel="stylesheet" />
    <link type="text/css" media="all" href="{% static '/assets/css/style.css' %}" rel="stylesheet" />
    <!-- Switcher CSS -->
    <link href="{% static '/assets/css/colour-scheme/color-blue.css' %}" rel="stylesheet" type="text/css" data-color="color-blue" media="all" id="stylesheet-new">
    <!-- Responsive CSS -->
    <link type="text/css" media="all" href="{% static '/assets/css/respons.css' %}" rel="stylesheet" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="144x144" href="{% static '/assets/img/favicons/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static '/assets/img/favicons/apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static '/assets/img/favicons/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" href="{% static '/assets/img/favicons/apple-touch-icon.png' %}" />
    <link rel="shortcut icon" href="{% static '/assets/img/favicons/favicon.png' %}" />
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>

</head>
<body>

<!-- Load page -->
<div class="animationload">
    <div class="loader"></div>
</div>
<!-- End load page -->

<div id="wraper">

    <!-- Start Head section -->
    <header class="head">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-8 col-sm-11 col-lg-11">
                    <img class="logo-page" src="{% static '/assets/img/profile_l.png' %}" alt="Ukieweb">
                    <!-- Title Page -->
                    <h2 class="title">Profile</h2>
                    <!-- Description Page -->
                    <h4 class="sub-title">A Brief About Me</h4>
                </div>
                <div class="col-xs-4 col-sm-1 col-lg-1 text-right">
                    <a href="{% url 'home:index' %}" class="btn-close hover-animate"></a>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </header>
    <!-- End Head section -->

    <!-- Start Content section -->
    <section class="content border-bottom padding-block">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-7 padding-bottom">
                    <h3 class="title">Hello, I am web designer</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                        mollit anim id est laborum.</p>
                    <p>
                        <a href="#" class="btn hover-animate">Hire me Now</a><a href="#" class="btn btn-color hover-animate">Download CV</a>
                    </p>
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-5">
                    <div class="block-grey">
                        <table>
                            <tr>
                                <td class="font-weight-m">Name</td>
                                <td class="text-right">John Doe</td>
                            </tr>
                            <tr>
                                <td class="font-weight-m">Date of birth</td>
                                <td class="text-right">November 24, 1990</td>
                            </tr>
                            <tr>
                                <td class="font-weight-m">E-mail</td>
                                <td class="text-right"><a href="mailto:info@yourdomain.com">info@yourdomain.com</a></td>
                            </tr>
                            <tr>
                                <td class="font-weight-m">Address</td>
                                <td class="text-right">144 King St, Melbourne VIC</td>
                            </tr>
                            <tr>
                                <td class="font-weight-m">Phone</td>
                                <td class="text-right"><a href="tel:01234567890">012-3456-7890</a></td>
                            </tr>
                            <tr>
                                <td class="font-weight-m">Website</td>
                                <td class="text-right"><a href="/home/">www.themeforest.net</a></td>
                            </tr>
                            <tr>
                                <td colspan="2" class="font-weight-m"><i class="fa fa-circle green-marker" aria-hidden="true"></i>Available for freelance</td>
                            </tr>
                            <!--
                             <tr>
                                 <td colspan="2" class="font-weight-m"><i class="fa fa-circle red-marker" aria-hidden="true"></i>Not available for freelance</td>
                             </tr>
                             <tr>
                                 <td colspan="2" class="font-weight-m"><i class="fa fa-circle orange-marker" aria-hidden="true"></i>In vacation till septembre 29</td>
                             </tr>
                             -->
                        </table>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- End Content section -->

    <!-- Start Info section -->
    <section class="info border-bottom padding-block text-center">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    <h3 class="title">What i’m doing</h3>
                </div>
            </div>
            <!-- end row -->
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    <div class="circle-block ">
                        <span class="icon hover-animate"><i class="fa fa-android"></i></span>
                        <span class="name hover-animate">Applications</span>
                    </div>
                    <div class="circle-block">
                        <span class="icon hover-animate"><i class="fa fa-desktop"></i></span>
                        <span class="name hover-animate">Web design</span>
                    </div>
                    <div class="circle-block">
                        <span class="icon hover-animate"><i class="fa fa-photo"></i></span>
                        <span class="name hover-animate">Illustrations</span>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- End Info section -->

    <!-- Start Pricing section -->
    <section class="pricing padding-block border-bottom text-center">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    <h3 class="title">Pricing</h3>
                </div>
            </div>
            <!-- end row -->
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <div class="table-pricing">
                        <div class="header-pricing">Applications</div>
                        <div class="price-pricing">
                            $59<sup>99</sup>
                        </div>
                        <div class="properties-pricing">
                            <ul>
                                <li>
                                    <span class="arrow-check"><i class="fa fa-check-circle"></i></span>
                                    CSS Coding
                                </li>
                                <li>
                                    <span class="arrow-check"><i class="fa fa-check-circle"></i></span>
                                    JavaScript Coding<span class="new">new</span>
                                </li>
                                <li>
                                    <span class="arrow-check"><i class="fa fa-check-circle"></i></span>
                                    PHP Coding
                                </li>
                                <li class="del">
                                    <span class="arrow-check"><i class="fa fa-times-circle"></i></span>
                                    <del>WordPress</del>
                                </li>
                                <li class="del">
                                    <span class="arrow-check"><i class="fa fa-times-circle"></i></span>
                                    <del>Other Options</del>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-pricing">
                            <a href="#" class="btn hover-animate">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <div class="table-pricing best-pricing">
                        <div class="header-pricing">Website design</div>
                        <div class="price-pricing">
                            $19<sup>99</sup>
                            <small>/h</small>
                        </div>
                        <div class="properties-pricing">
                            <ul>
                                <li>
                                    <span class="arrow-check"><i class="fa fa-check-circle"></i></span>
                                    CSS Coding
                                </li>
                                <li>
                                    <span class="arrow-check"><i class="fa fa-check-circle"></i></span>
                                    JavaScript Coding
                                </li>
                                <li>
                                    <span class="arrow-check"><i class="fa fa-check-circle"></i></span>
                                    PHP Coding<span class="new">new</span>
                                </li>
                                <li>
                                    <span class="arrow-check"><i class="fa fa-check-circle"></i></span>
                                    WordPress
                                </li>
                                <li>
                                    <span class="arrow-check"><i class="fa fa-check-circle"></i></span>
                                    Other Options
                                </li>
                            </ul>
                        </div>
                        <div class="footer-pricing">
                            <a href="#" class="btn btn-color hover-animate">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <div class="table-pricing">
                        <div class="header-pricing">Logo design</div>
                        <div class="price-pricing">
                            $79<sup>99</sup>
                        </div>
                        <div class="properties-pricing">
                            <ul>
                                <li>
                                    <span class="arrow-check"><i class="fa fa-check-circle"></i></span>
                                    CSS Coding
                                </li>
                                <li>
                                    <span class="arrow-check"><i class="fa fa-check-circle"></i></span>
                                    JavaScript Coding<span class="new">new</span>
                                </li>
                                <li>
                                    <span class="arrow-check"><i class="fa fa-check-circle"></i></span>
                                    PHP Coding
                                </li>
                                <li>
                                    <span class="arrow-check"><i class="fa fa-check-circle"></i></span>
                                    WordPress
                                </li>
                                <li class="del">
                                    <span class="arrow-check"><i class="fa fa-times-circle"></i></span>
                                    <del>Other Options</del>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-pricing">
                            <a href="#" class="btn hover-animate">Order Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <div class="table-pricing">
                        <div class="header-pricing">Illustrations</div>
                        <div class="price-pricing">
                            $129<sup>99</sup>
                        </div>
                        <div class="properties-pricing">
                            <ul>
                                <li>
                                    <span class="arrow-check"><i class="fa fa-check-circle"></i></span>
                                    CSS Coding
                                </li>
                                <li>
                                    <span class="arrow-check"><i class="fa fa-check-circle"></i></span>
                                    JavaScript Coding
                                </li>
                                <li>
                                    <span class="arrow-check"><i class="fa fa-check-circle"></i></span>
                                    PHP Coding
                                </li>
                                <li>
                                    <span class="arrow-check"><i class="fa fa-check-circle"></i></span>
                                    WordPress<span class="new">new</span>
                                </li>
                                <li>
                                    <span class="arrow-check"><i class="fa fa-check-circle"></i></span>
                                    Other Options
                                </li>
                            </ul>
                        </div>
                        <div class="footer-pricing">
                            <a href="#" class="btn hover-animate">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- End Pricing section -->

    <!-- Start Instagram Feed section -->
    <section class="instagram-feed padding-block border-bottom text-center">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    <h3 class="title">Instagram Feed</h3>
                </div>
            </div>
            <!-- end row -->
            <!-- start row -->
            <div class="row">
                <div class="col-xs-6 col-sm-4 col-lg-2"  >
                    <img class="instagram-foto" src="{% static '/assets/img/I-f1.jpg' %}" alt="Instagram Feed">
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <img class="instagram-foto" src="{% static '/assets/img/I-f2.jpg' %}" alt="Instagram Feed">
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <img class="instagram-foto" src="{% static '/assets/img/I-f3.jpg' %}" alt="Instagram Feed">
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <img class="instagram-foto" src="{% static '/assets/img/I-f4.jpg' %}" alt="Instagram Feed">
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <img class="instagram-foto" src="{% static '/assets/img/I-f5.jpg' %}" alt="Instagram Feed">
                </div>
                <div class="col-xs-6 col-sm-4 col-lg-2">
                    <img class="instagram-foto" src="{% static '/assets/img/I-f6.jpg' %}" alt="Instagram Feed">
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- End Instagram Feed section -->

    <!-- Start Calendar section -->
    <section class="calendar padding-block border-bottom text-center">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    <h3 class="title">Calendar</h3>
                </div>
            </div>
            <!-- end row -->
            <!-- start row -->
            <div class="row calendar-content">
                <div class="col-xs-12 col-sm-4 col-lg-4">
                    <div class="today border-right">
                        <div class="valign-outer">
                            <div class="valign-middle">
                                <div class="valign-inner">
                                    <div class="date">
                                        <span class="day" id="day">01</span>
                                        <span class="month" id="month">Jan</span>
                                    </div>
                                    <div class="week-day" id="week-day">Friday</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-lg-8">
                    <div class="custom-calendar-wrap">
                        <div id="custom-inner" class="custom-inner">
                            <div class="custom-header clearfix">
                                <nav>
                                    <span id="custom-prev" class="custom-prev"></span>
                                    <span id="custom-next" class="custom-next"></span>
                                </nav>
                                <ul>
                                    <li><h2 id="custom-month" class="custom-month"></h2></li>
                                    <li><h2 id="custom-year" class="custom-year"></h2></li>
                                </ul>
                            </div>
                            <div id="calendar" class="fc-calendar-container">
                            </div>

                        </div>
                    </div>

                    <ul class="notes">
                        <li><div class="calendar-note">Sorry. I'm not available on those days</div></li>
                        <li><div class="calendar-note today-note">Today</div></li>
                    </ul>

                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- End Calendar section -->

    <!-- Start My thoughts section -->
    <section class="my-thoughts padding-block text-center">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    <h3 class="title">My thoughts</h3>
                    <div class="animated">
                        <i class="fa fa-quote-left ukie-icons hover-animate"></i>
                    </div>
                    <p class="thoughts">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
                    <h4 class="sub-title">Jonh Doe</h4>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- End My thoughts section -->

    <!-- Start Footer section -->
    <footer class="footer">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <!-- start phone number -->
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <a href="#" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-phone"></i></span> +38 012-3456-7890
                    </a>
                </div>
                <!-- end phone number -->
                <!-- start email -->
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <a href="#" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-paper-plane"></i></span> info@yourdomain.com
                    </a>
                </div>
                <!-- end email -->
                <!-- start address -->
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <a href="#" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-map-marker"></i></span> 44 King St, Melbourne VIC
                    </a>
                </div>
                <!-- end address -->
                <!-- start Copyright -->
                <div class="col-xs-12 col-sm-6 col-lg-3 text-right">
                    <span class="copyright">Copyright © 2016 All right reserved</span>
                </div>
                <!-- end Copyright -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </footer>
    <!-- End Footer section -->
</div>

<!-- Scroll to Top -->
<a href="#" class="btn hover-animate scrollToTop"><i class="fa fa-angle-up"></i></a>
<!-- End Scroll to Top -->

<!-- Style Contact Form -->
<!-- delete this from site once you have decided on a colour scheme - follow documentation for insructions -->
<!-- Button Style open -->
<div class="style-open-form animated hi-icon-effect-8">
    <i class="hi-icon fa fa-envelope-o ukie-icons hover-animate hi-icon-mobile"></i>
</div>
<!-- End Button Style open -->
<div class="style-contact-form style-off-form">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 ">
            <!-- Start Contact Form -->
            <div class="contact-form">
                <div class="btn-close-form">
                </div>
                <h3 class="title title-contact">Contact Me</h3>
                <p>Use this form to tell me about your project goals and needs. I will be in touch within 24 hours.</p>
                <form action="https://ukieweb.com/envato/ukiecard/style2/assets/php/contact.php" id="contact-form-panel" method="post">
                    <input type="text" id="user-name-panel" name="user-name" value="" placeholder="Name" />
                    <input type="email" id="user-email-panel" name="user-email" value="" placeholder="Email" />
                    <input type="hidden" id="user-status-panel" name="user-status" value="1"  />
                    <textarea id="user-message-panel" name="user-message" placeholder="Message"></textarea>
                    <div class="footer-form">
                        <input type="submit" id="submit-btn-panel" class="btn btn-color hover-animate"  value="Send Message" />
                        <div class="info-message-form">
                            <p>Please fill out all the fields!</p>
                            <span class="close-msg"><i class="fa fa-close"></i></span>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End Contact Form -->
            <!-- End style-open -->
        </div>
    </div>
    <!-- End row -->
</div>
<!-- End Style Contact Form -->

<!-- Scripts -->
<script src="{% static '/assets/js/jquery-1.11.2.min.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/boostrap-files/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/jquery.appear.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/jquery.mixitup.min.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/owl.carousel.min.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/jquery.flexslider-min.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/jquery.inview.min.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/jquery.knob.min.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/jquery.cookie.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/jquery.ratyli.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/modernizr.custom.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/prefixfree.min.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/modernizr.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/jquery.calendario.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/contact_scripts.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/scripts.js' %}" type="text/javascript"></script>



</body>
</html>