{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <title>Resume</title>
    <meta name="author" content="xalien" />
    <meta name="keywords" content="django, css3, template, html5 template" />
    <meta name="description" content="Personal Vcard & Resume HTML Template" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Font Awesome -->
    <link type="text/css" media="all" href="{% static '/assets/fonts/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
    <!-- Libs CSS -->
    <link type="text/css" media="all" href="{% static '/assets/boostrap-files/css/bootstrap.min.css' %}" rel="stylesheet" />
    <!-- Important Owl stylesheet -->
    <link rel="stylesheet" href="{% static '/assets/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static '/assets/css/slider.css' %}">
    <!-- Default Theme -->
    <link rel="stylesheet" href="{% static '/assets/css/owl.theme.css' %}">
    <!-- Animate CSS -->
    <link type="text/css" media="all" href="{% static '/assets/css/animate.css' %}" rel="stylesheet" />
    <!-- Template CSS -->
    <link rel="stylesheet" type="text/css" href="{% static '/assets/css/component.css' %}" />
    <link type="text/css" media="all" href="{% static '/assets/css/contact.form.css' %}" rel="stylesheet" />
    <link type="text/css" media="all" href="{% static '/assets/css/style.css' %}" rel="stylesheet" />
    <!-- Switcher CSS -->
    <link href="{% static '/assets/css/colour-scheme/color-blue.css' %}" rel="stylesheet" type="text/css" data-color="color-blue" media="all" id="stylesheet-new">
    <!-- Responsive CSS -->
    <link type="text/css" media="all" href="{% static '/assets/css/respons.css' %}" rel="stylesheet" />
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="144x144" href="{% static '/assets/img/favicons/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static '/assets/img/favicons/apple-touch-icon-114x114.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static '/assets/img/favicons/apple-touch-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" href="{% static '/assets/img/favicons/apple-touch-icon.png' %}" />
    <link rel="shortcut icon" href="{% static '/assets/img/favicons/favicon.png' %}" />
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,100italic,200,200italic,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>

</head>
<body>

<!-- Load page -->
<div class="animationload">
    <div class="loader"></div>
</div>
<!-- End load page -->

<div id="wraper">
{%for userinfo in userinfo%}
    <!-- Start Head section -->
    <header class="head">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-8 col-sm-11 col-lg-11">
                    <img class="logo-page" src="{% static '/' %}assets/img/resume_l.png" alt="Ukieweb">
                    <!-- Title Page -->
                    <h2 class="title">Resume</h2>
                    <!-- Description Page -->
                    <h4 class="sub-title">My Academic Qualifications</h4>
                </div>
                <div class="col-xs-4 col-sm-1 col-lg-1 text-right">
                    <a href="{% url 'home:index' %}" class="btn-close hover-animate"></a>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </header>
    <!-- End Head section -->

    <!-- Start Content section -->
    <section class="content padding-block border-bottom">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-6 padding-bottom">
                    <h3 class="title title-resume">Education</h3>
                    <div class="block-grey">
                        <div id="education-slider" class="owl-carousel owl-theme">
                            <div class="item">
                                <table>
                                    <tr>
                                        <td class="font-weight-m width-td">Name</td>
                                        <td>School of Art</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-m">Address</td>
                                        <td>Melbourne VIC</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-m">Period</td>
                                        <td>1996-2000</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-m">Level</td>
                                        <td>A level</td>
                                    </tr>
                                </table>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam, quis nostrud exercitation ullamco laboris nisi.
                                </p>
                            </div>
                            <div class="item">
                                <table>
                                    <tr>
                                        <td class="font-weight-m width-td">Name</td>
                                        <td>School of Art</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-m">Address</td>
                                        <td>Melbourne VIC</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-m">Period</td>
                                        <td>1996-2000</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-m">Level</td>
                                        <td>A level</td>
                                    </tr>
                                </table>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam, quis nostrud exercitation ullamco laboris nisi.
                                </p>
                            </div>
                            <div class="item">
                                <table>
                                    <tr>
                                        <td class="font-weight-m width-td">Name</td>
                                        <td>School of Art</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-m">Address</td>
                                        <td>Melbourne VIC</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-m">Period</td>
                                        <td>1996-2000</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-m">Level</td>
                                        <td>A level</td>
                                    </tr>
                                </table>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam, quis nostrud exercitation ullamco laboris nisi.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-6">
                    <h3 class="title title-resume">Work</h3>
                    <div class="block-grey">
                        <div id="work-slider" class="owl-carousel owl-theme">
                            <div class="item">
                                <table>
                                    <tr>
                                        <td class="font-weight-m width-td1">Company Name</td>
                                        <td>Themeforest</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-m">Address</td>
                                        <td>Melbourne VIC</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-m">Period</td>
                                        <td>2007-2012</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-m">Post</td>
                                        <td>Web designer</td>
                                    </tr>
                                </table>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam, quis nostrud exercitation ullamco laboris nisi.
                                </p>
                            </div>
                            <div class="item">
                                <table>
                                    <tr>
                                        <td class="font-weight-m width-td1">Company Name</td>
                                        <td>Themeforest</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-m">Address</td>
                                        <td>Melbourne VIC</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-m">Period</td>
                                        <td>2012-2015</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-m">Post</td>
                                        <td>Web designer</td>
                                    </tr>
                                </table>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                    veniam, quis nostrud exercitation ullamco laboris nisi.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- End Content section -->


    <!-- Start Skills section -->
    <section class="skills border-bottom padding-block">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-6 padding-bottom">
                    <h3 class="title title-skills">Professional skills</h3>

                    <label class="progress-bar-label">JavaScript</label>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100">
                            <span>78%</span>
                        </div>
                    </div>

                    <label class="progress-bar-label">Photoshop</label>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100">
                            <span>96%</span>
                        </div>
                    </div>

                    <label class="progress-bar-label">Illustrator</label>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            <span>85%</span>
                        </div>
                    </div>

                    <label class="progress-bar-label">HTML &amp; CSS</label>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                            <span>60%</span>
                        </div>
                    </div>

                </div>
                <div class="col-xs-12 col-sm-12 col-lg-6">
                    <h3 class="title title-skills">Additional skills</h3>

                    <div class="circle-progress-block">
                        <div class="circle-progress">
                            <input type="text" class="dial" value="43" data-color="#00b6f9" data-from="0" data-to="99" />
                        </div>
                        <label class="circle-progress-label">Communication</label>
                    </div>

                    <div class="circle-progress-block">
                        <div class="circle-progress">
                            <input type="text" class="dial" value="62" data-color="#00b6f9" data-from="0" data-to="99" />
                        </div>
                        <label class="circle-progress-label">English</label>
                    </div>

                    <div class="circle-progress-block">
                        <div class="circle-progress">
                            <input type="text" class="dial" value="78" data-color="#00b6f9" data-from="0" data-to="99" />
                        </div>
                        <label class="circle-progress-label">Humor</label>
                    </div>

                </div>
            </div>
            <!-- end row -->
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-6 language-skills">
                    <h3 class="title title-skills">Language skills</h3>
                    <div class="progress">
                        <label class="progress-bar-label">English (Native)</label>
                        <span class="ratyli" data-rate="5" data-ratemax="5"></span>
                    </div>
                    <div class="progress">
                        <label class="progress-bar-label">French</label>
                        <span class="ratyli" data-rate="3" data-ratemax="5"></span>
                    </div>

                    <div class="progress">
                        <label class="progress-bar-label">Spanish</label>
                        <span class="ratyli" data-rate="2" data-ratemax="5"></span>
                    </div>
                    <div class="progress">
                        <label class="progress-bar-label">German</label>
                        <span class="ratyli" data-rate="4" data-ratemax="5"></span>
                    </div>



                </div>
                <div class="col-xs-12 col-sm-12 col-lg-6 knowledge">
                    <h3 class="title title-skills">Knowledge</h3>
                    <div class="col-xs-12 col-sm-6 col-lg-6">
                        <ul>
                            <li>Custom Website Design</li>
                            <li>Logo and Brochure Design</li>
                            <li>Design for Print</li>
                            <li>Animations and Graphics</li>
                            <li>Mobile websites</li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-lg-6">
                        <ul>
                            <li>Template/CMS based websites</li>
                            <li>iOS and Android App</li>
                            <li>Website Hosting</li>
                            <li>Search Engine Marketing (SEM)</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- End Skills section -->


    <!-- Start Info section -->
    <section class="info border-bottom padding-block text-center">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    <h3 class="title">Hobbies &amp; Interest</h3>
                </div>
            </div>
            <!-- end row -->
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    <div class="circle-block ">
                        <span class="icon hover-animate"><i class="fa fa-futbol-o"></i></span>
                        <span class="name hover-animate">Football</span>
                    </div>
                    <div class="circle-block">
                        <span class="icon hover-animate"><i class="fa fa-headphones"></i></span>
                        <span class="name hover-animate">Music</span>
                    </div>
                    <div class="circle-block">
                        <span class="icon hover-animate"><i class="fa fa-rocket"></i></span>
                        <span class="name hover-animate">Travelling</span>
                    </div>
                    <div class="circle-block">
                        <span class="icon hover-animate"><i class="fa fa-car"></i></span>
                        <span class="name hover-animate">Cars</span>
                    </div>
                    <div class="circle-block">
                        <span class="icon hover-animate"><i class="fa fa-gamepad"></i></span>
                        <span class="name hover-animate">Video games</span>
                    </div>
                    <div class="circle-block">
                        <span class="icon hover-animate"><i class="fa fa-paint-brush"></i></span>
                        <span class="name hover-animate">Painting</span>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- End Info section -->

    <!-- Start Info section -->
    <section class="info padding-block border-bottom text-center">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    <h3 class="title">Experience</h3>
                </div>
            </div>
            <!-- end row -->
            <!-- start row -->
            <div class="row count">
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <div class="total-numbers" data-perc="900">
                        <div class="iconspace"><i class="fa fa-smile-o"></i></div>
                        <div class="info-text">
                            <span class="sum">450</span>
                            happy clients
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <div class="total-numbers" data-perc="900">
                        <div class="iconspace"><i class="fa fa-thumbs-o-up"></i></div>
                        <div class="info-text">
                            <span class="sum">205</span>
                            projects done
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <div class="total-numbers" data-perc="900">
                        <div class="iconspace"><i class="fa fa-birthday-cake"></i></div>
                        <div class="info-text">
                            <span class="sum">3</span>
                            years experience
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <div class="total-numbers" data-perc="900">
                        <div class="iconspace"><i class="fa fa-trophy"></i></div>
                        <div class="info-text">
                            <span class="sum">12</span>
                            contests won
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- End Info section -->

    <!-- Start Testimonials section -->
    <section class="padding-block text-center testimonials border-bottom">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    <h3 class="title">Testimonials</h3>
                </div>
            </div>
            <!-- end row -->
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    <div class="block-grey">
                        <div class="slider_container">
                            <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <div class="col-xs-12 col-sm-5 col-lg-5">
                                            <img class="foto" src="{% static '/assets/img/t-s1.jpg' %}" alt="Ukieweb">
                                            <!-- Title Page -->
                                            <h4 class="sub-title">Damon Guzman</h4>
                                            <!-- Description Page -->
                                            <p>New Agency, LLC</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-7 col-lg-7 border-left border-left">
                                            <table>
                                                <tr>
                                                    <td class="font-weight-m width-td1">I like UkieCard</td>
                                                    <td>August 21, 2016</td>
                                                </tr>
                                            </table>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco laboris nisi.
                                            </p>
                                            <ul class="flex-direction-nav"><li><a class="prev" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li><li><a class="next" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li></ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-xs-12 col-sm-5 col-lg-5">
                                            <img class="foto" src="{% static '/assets/img/t-s2.jpg' %}" alt="Ukieweb">
                                            <!-- Title Page -->
                                            <h4 class="sub-title">Kirk Collins</h4>
                                            <!-- Description Page -->
                                            <p>New Agency, LLC</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-7 col-lg-7 border-left border-left">
                                            <table>
                                                <tr>
                                                    <td class="font-weight-m width-td1">New styles of home page are available</td>
                                                    <td>August 11, 1996</td>
                                                </tr>
                                            </table>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco laboris nisi.
                                            </p>
                                            <ul class="flex-direction-nav"><li><a class="prev" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li><li><a class="next" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li></ul>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="col-xs-12 col-sm-5 col-lg-5">
                                            <img class="foto" src="{% static '/assets/img/t-s3.jpg' %}" alt="Ukieweb">
                                            <!-- Title Page -->
                                            <h4 class="sub-title">Melissa Hill</h4>
                                            <!-- Description Page -->
                                            <p>New Agency, LLC</p>
                                        </div>
                                        <div class="col-xs-12 col-sm-7 col-lg-7 border-left border-left">
                                            <table>
                                                <tr>
                                                    <td class="font-weight-m width-td1">How to use ukiecard?</td>
                                                    <td>August 18, 2000</td>
                                                </tr>
                                            </table>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed dusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco laboris nisi.
                                            </p>
                                            <ul class="flex-direction-nav"><li><a class="prev" href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li><li><a class="next" href="#"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li></ul>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- End Testimonials section -->


    <!-- Start Clients section -->
    <section class="padding-block text-center clients">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    <h3 class="title">Clients</h3>
                </div>
            </div>
            <!-- end row -->
            <!-- start row -->
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-12">
                    <div id="owl-clients" class="owl-carousel owl-theme">
                        <div class="item"><img src="{% static '/assets/img/S-c1.png' %}" alt="Clients"></div>
                        <div class="item"><img src="{% static '/assets/img/S-c2.png' %}" alt="Clients"></div>
                        <div class="item"><img src="{% static '/assets/img/S-c3.png' %}" alt="Clients"></div>
                        <div class="item"><img src="{% static '/assets/img/S-c4.png' %}" alt="Clients"></div>
                        <div class="item"><img src="{% static '/assets/img/S-c1.png' %}" alt="Clients"></div>
                        <div class="item"><img src="{% static '/assets/img/S-c2.png' %}" alt="Clients"></div>

                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- End Clients section -->

    <!-- Start Footer section -->
    <footer class="footer">
        <!-- start container -->
        <div class="container">
            <!-- start row -->
            <div class="row">
                <!-- start phone number -->
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <a href="#" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-phone"></i></span> {{ userinfo.phone }}
                    </a>
                </div>
                <!-- end phone number -->
                <!-- start email -->
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <a href="#" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-paper-plane"></i></span> {{ userinfo.email }}
                    </a>
                </div>
                <!-- end email -->
                <!-- start address -->
                <div class="col-xs-12 col-sm-6 col-lg-3">
                    <a href="#" class="hover-animate">
                        <span class="ukie-icons hover-animate"><i class="fa fa-map-marker"></i></span>{{ userinfo.address }}
                    </a>
                </div>
                <!-- end address -->
                <!-- start Copyright -->
                <div class="col-xs-12 col-sm-6 col-lg-3 text-right">
                    <span class="copyright">Copyright © 2016 All right reserved</span>
                </div>
                <!-- end Copyright -->
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </footer>
    <!-- End Footer section -->

</div>

<!-- Scroll to Top -->
<a href="#" class="btn hover-animate scrollToTop"><i class="fa fa-angle-up"></i></a>
<!-- End Scroll to Top -->

<!-- Style Contact Form -->
<!-- delete this from site once you have decided on a colour scheme - follow documentation for insructions -->
<!-- Button Style open -->
<div class="style-open-form animated hi-icon-effect-8">
    <i class="hi-icon fa fa-envelope-o ukie-icons hover-animate hi-icon-mobile"></i>
</div>
<!-- End Button Style open -->
<div class="style-contact-form style-off-form">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 ">
            <!-- Start Contact Form -->
            <div class="contact-form">
                <div class="btn-close-form">
                </div>
                <h3 class="title title-contact">Contact Me</h3>
                <p>Use this form to tell me about your project goals and needs. I will be in touch within 24 hours.</p>
                <form action="https://ukieweb.com/envato/ukiecard/style2/assets/php/contact.php" id="contact-form-panel" method="post">
                    <input type="text" id="user-name-panel" name="user-name" value="" placeholder="Name" />
                    <input type="email" id="user-email-panel" name="user-email" value="" placeholder="Email" />
                    <input type="hidden" id="user-status-panel" name="user-status" value="1"  />
                    <textarea id="user-message-panel" name="user-message" placeholder="Message"></textarea>
                    <div class="footer-form">
                        <input type="submit" id="submit-btn-panel" class="btn btn-color hover-animate"  value="Send Message" />
                        <div class="info-message-form">
                            <p>Please fill out all the fields!</p>
                            <span class="close-msg"><i class="fa fa-close"></i></span>
                        </div>
                    </div>
                </form>
            </div>
            <!-- End Contact Form -->
            <!-- End style-open -->
        </div>
    </div>
    <!-- End row -->
</div>
<!-- End Style Contact Form -->
{% endfor %}
<!-- Scripts -->
<script src="{% static '/assets/js/jquery-1.11.2.min.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/boostrap-files/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/jquery.countTo.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/jquery.appear.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/jquery.mixitup.min.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/owl.carousel.min.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/jquery.flexslider-min.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/jquery.inview.min.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/jquery.knob.min.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/jquery.cookie.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/jquery.ratyli.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/modernizr.custom.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/contact_scripts.js' %}" type="text/javascript"></script>
<script src="{% static '/assets/js/scripts.js' %}" type="text/javascript"></script>

</body>
</html>